{% extends "main.html" %}

<!-- Content -->
{% block content %}
  <h1>404 Not Found</h1>
  <p>Please use the navigation either at the top of the page, or via the hamburger menu, or otherwise check the URL you entered.</p>
  <h2>That's an Invalid Cats Exception</h2>
  <img src="https://http.cat/images/404.jpg" alt="An image of a cat hiding under a pile of paper, with only their butt and tail showing. Below it is text saying '404 not found' ">
  <br/>
  <sup>Image lovingly sourced from <a href="https://http.cat/status/404" target="_blank">HTTP Cats</a></sup>
  <h3>There's nothing here, except null space</h3>
{% endblock %}